*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}
body{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 42rem;
}

.instagram-continue{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 45%;
    min-height: 40rem;
}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color:  rgb(243, 243, 243);
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1){
    min-height: 23rem;
}

.instagram-logo{
    height: 4rem;
    margin-top: 2rem;
}

.form-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-login input{
    margin-top: 1rem;
    padding: 8px;
    border-radius: 4px;
    width: 250px;
    border: #ccc solid 1px;
}

.instagram-login{
    background-color: #bde3fc;
    color: #ffffff;
    padding: 8px;
    margin-top: 1rem;
    border-radius: 4px;
    width: 250px;
    text-align: center;
}

.LoginFace{
    width: 50%;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.LoginFace a{
    color: #024b7c;
}

.LoginFace img{
    width: 20px;
}

.password{
    color: #024b7c;
    margin-top: 1rem;
    font-size: 10px;
}

.not-account{
    color: rgb(112, 110, 110);
}

.link-blue{
    color:#0095f6;
}

.get-the-app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
    color: #ffffff;
}

.download{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download{
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1){
    background-image: url('./img/apple-button.png');
}

.app-download:nth-child(2){
    background-image: url('./img/googleplay-button.png');
}

/* media queries */


@media(max-width: 1024px){
    .instagram-wrapper{
        width: 90%;
    }
}

@media(max-width:650px){

    body{
        background-color: #ffffff;
    }
    
    .instagram-wrapper{
        width: 90%;
    }
    .instagram-phone{
        display: none;
    }

    .instagram-continue{
        width: 100%;
    }

    .group{
        border: 1px solid lightgray;
    }

}